*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1; }

.page .banner {
  background: #94B1CC;
  text-align: center;
  padding: 36px; }
  .page .banner .title {
    display: inline-block; }
    .page .banner .title.title--bold {
      font: normal 600 40px "Montserrat";
      color: #FFFFFF;
      margin-right: 16px; }
    .page .banner .title.title--reg {
      font: normal 200 40px "Montserrat";
      color: #FFFFFF; }

.page .content {
  padding: 4% 8% 4% 8%;
  font-size: 0; }
  .page .content .col {
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    display: inline-block; }
    .page .content .col:nth-child(3n) {
      margin-right: 0; }
      @media (max-width: 970px) {
        .page .content .col:nth-child(3n) {
          margin-right: 2%; } }
    .page .content .col.col--1 {
      color: #5A5A5A;
      padding: 0 2%; }
      .page .content .col.col--1 .title.title--bold {
        font: normal 600 40px "Montserrat"; }
      .page .content .col.col--1 .title.title--reg {
        font: normal 200 40px "Montserrat"; }
      .page .content .col.col--1 .title.title--sub {
        margin: 10px 0;
        font: 20px "Karla";
        color: #979797; }
      .page .content .col.col--1 .description {
        font: 16px "Karla";
        line-height: 1.4em; }
    .page .content .col.col--2 {
      color: #5A5A5A; }
      .page .content .col.col--2 .title.title--bold {
        font: normal 600 40px "Montserrat"; }
      .page .content .col.col--2 .title.title--reg {
        font: normal 200 40px "Montserrat"; }
      .page .content .col.col--2 .title.title--sub {
        margin: 10px 0;
        font: 20px "Karla";
        color: #979797; }
      .page .content .col.col--2 img {
        width: 100%; }
      .page .content .col.col--2 img.rgb {
        margin: 18px 0; }
      .page .content .col.col--2 .description {
        font: 16px "Karla";
        line-height: 1.4em; }
    .page .content .col.col--rgb {
      border-left: 1px solid #d7d7d7; }
      @media (max-width: 970px) {
        .page .content .col.col--rgb {
          border-left: 0; } }
    .page .content .col.col--page--2 {
      padding: 36px; }
      @media (max-width: 970px) {
        .page .content .col.col--page--2 {
          padding: 0;
          margin-bottom: 8%; } }
    .page .content .col.col--3 .retreat--wrapper {
      width: 100%; }
      .page .content .col.col--3 .retreat--wrapper img {
        text-align: left;
        width: 80%; }
        @media (max-width: 970px) {
          .page .content .col.col--3 .retreat--wrapper img {
            text-align: center;
            width: 100%; } }
      .page .content .col.col--3 .retreat--wrapper .btn__wrapper {
        margin-top: 18px;
        left: 20%;
        width: 80%; }
        .page .content .col.col--3 .retreat--wrapper .btn__wrapper .btn {
          font: 16px "Montserrat", sans-serif;
          text-transform: uppercase;
          background: #94B1CC;
          outline: none;
          border: none;
          border-radius: 32px;
          padding: 14px 32px 14px 32px;
          color: #FFFFFF;
          box-shadow: 0px 0px 34px -8px #5a5a5a; }
        @media (max-width: 1170px) {
          .page .content .col.col--3 .retreat--wrapper .btn__wrapper {
            left: 15%; } }
        @media (max-width: 1030px) {
          .page .content .col.col--3 .retreat--wrapper .btn__wrapper {
            left: 5%; } }
        @media (max-width: 970px) {
          .page .content .col.col--3 .retreat--wrapper .btn__wrapper {
            margin-top: 8%;
            left: 2%;
            width: 100%; } }
    .page .content .col.col--3 .speakers {
      color: #5A5A5A;
      background: #f3f3f3;
      padding: 24px 18px; }
      .page .content .col.col--3 .speakers .title {
        font: normal 600 18px "Montserrat";
        text-align: center;
        margin-bottom: 32px; }
      .page .content .col.col--3 .speakers .speaker {
        font: 16px "Karla", sans-serif;
        margin: 8px 0; }
        .page .content .col.col--3 .speakers .speaker .name {
          color: #94B1CC; }
        .page .content .col.col--3 .speakers .speaker .position {
          margin: 2px 0;
          font-style: italic; }
    @media (max-width: 970px) {
      .page .content .col {
        display: block;
        margin-bottom: 5%;
        width: 90%; } }
  .page .content .timeline {
    width: 100%;
    margin: 12% 0;
    font: 16px "Montserrat", sans-serif; }
    .page .content .timeline .times {
      padding: 0 2% 0 2%; }
      .page .content .timeline .times .time {
        color: #94B1CC;
        display: inline-block;
        width: 12.57%;
        margin-bottom: 12px;
        margin-right: 1%; }
        .page .content .timeline .times .time.day::before {
          content: "";
          display: block;
          color: #979797;
          font: 14px "Karla", sans-serif;
          margin-bottom: 8px; }
        .page .content .timeline .times .time.friday::before {
          content: "Friday"; }
        .page .content .timeline .times .time.saturday::before {
          content: "Saturday"; }
        .page .content .timeline .times .time.sunday::before {
          content: "Sunday"; }
    .page .content .timeline .divider--h {
      border: 0.8px solid #979797; }
      @media (max-width: 620px) {
        .page .content .timeline .divider--h {
          display: none; } }
    .page .content .timeline .events {
      padding: 0 2% 0 2%; }
      .page .content .timeline .events .event {
        margin-top: 12px;
        display: inline-block;
        font: 12px "Karla", sans-serif;
        width: 12.57%;
        margin-right: 1%;
        vertical-align: bottom; }
    @media (max-width: 620px) {
      .page .content .timeline {
        display: none; } }
  .page .content .btn__wrapper {
    vertical-align: bottom;
    margin-top: 48px;
    left: 20%;
    width: 80%; }
    .page .content .btn__wrapper .btn {
      font: 16px "Montserrat", sans-serif;
      text-transform: uppercase;
      background: #94B1CC;
      outline: none;
      border: none;
      border-radius: 32px;
      padding: 14px 32px 14px 32px;
      color: #FFFFFF;
      box-shadow: 0px 0px 34px -8px #5a5a5a; }
    @media (max-width: 970px) {
      .page .content .btn__wrapper {
        width: 100%;
        left: 0;
        margin-top: 18px; } }

@media (max-width: 620px) {
  .timeline--mobile {
    font: 16px "Montserrat", sans-serif; }
    .timeline--mobile .event {
      margin-bottom: 16px; }
      .timeline--mobile .event .time {
        vertical-align: top;
        color: #94B1CC;
        display: inline-block;
        width: 20%; }
        .timeline--mobile .event .time.day::before {
          content: "";
          margin-bottom: 8px;
          display: block;
          color: #979797;
          font: 14px "Karla", sans-serif; }
        .timeline--mobile .event .time.friday::before {
          content: "Friday"; }
        .timeline--mobile .event .time.saturday::before {
          content: "Saturday"; }
        .timeline--mobile .event .time.sunday::before {
          content: "Sunday"; } }
      @media (max-width: 620px) and (max-width: 440px) {
        .timeline--mobile .event .time {
          width: 15%; } }

@media (max-width: 620px) {
      .timeline--mobile .event .name {
        font: 14px "Karla", sans-serif;
        display: inline-block;
        vertical-align: bottom; } }
