@import 'variables';

*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.page {
  .banner {
    background: $c__blue;
    text-align: center;
    padding: 36px;

    .title {
      display: inline-block;

      &.title--bold {
        font: normal 600 40px "Montserrat";
        color: $c__white;
        margin-right: 16px;
      }

      &.title--reg {
        font: normal 200 40px "Montserrat";
        color: $c__white;
      }
    }
  }

  .content {
    padding: 4% 8% 4% 8%;
    font-size: 0;

    .col {
      vertical-align: top;
      width: 32%;
      margin-right: 2%;
      display: inline-block;

      &:nth-child(3n) {
        margin-right: 0;

        @media (max-width: 970px) {
          margin-right: 2%;
        }
      }

      &.col--1 {
        color: $c__black--off;
        padding: 0 2%;

        .title {
          &.title--bold {
            font: normal 600 40px "Montserrat";
          }

          &.title--reg {
            font: normal 200 40px "Montserrat";
          }

          &.title--sub {
            margin: 10px 0;
            font: 20px "Karla";
            color: $c__grey;
          }
        }

        .description {
          font: 16px "Karla";
          line-height: 1.4em;
        }
      }

      &.col--2 {
        color: $c__black--off;

        .title {
          &.title--bold {
            font: normal 600 40px "Montserrat";
          }

          &.title--reg {
            font: normal 200 40px "Montserrat";
          }

          &.title--sub {
            margin: 10px 0;
            font: 20px "Karla";
            color: $c__grey;
          }
        }

        img {
          width: 100%;
        }

        img.rgb {
          margin: 18px 0;
        }

        .description {
          font: 16px "Karla";
          line-height: 1.4em;
        }
      }

      &.col--rgb {
        border-left: 1px solid lighten($c__grey, 25%);

        @media (max-width: 970px) {
          border-left: 0;
        }
      }

      &.col--page--2 {
        padding: 36px;

        @media (max-width: 970px) {
          padding: 0;
          margin-bottom: 8%;
        }
      }

      &.col--3 {
        .retreat--wrapper {
          width: 100%;

          img {
            text-align: left;
            width: 80%;

            @media (max-width: 970px) {
              text-align: center;
              width: 100%;
            }
          }

          .btn__wrapper {
            margin-top: 18px;
            left: 20%;
            width: 80%;

            .btn {
              font: 16px "Montserrat", sans-serif;
              text-transform: uppercase;
              background: $c__blue;
              outline: none;
              border: none;
              border-radius: 32px;
              padding: 14px 32px 14px 32px;
              color: $c__white;
              box-shadow: 0px 0px 34px -8px rgba(90,90,90,1);
            }

            @media (max-width: 1170px) {
              left: 15%;
            }

            @media (max-width: 1030px) {
              left: 5%;
            }

            @media (max-width: 970px) {
              margin-top: 8%;
              left: 2%;
              width: 100%;
            }
          }
        }

        .speakers {
          color: $c__black--off;
          background: lighten($c__grey, 36%);
          padding: 24px 18px;

          .title {
            font: normal 600 18px "Montserrat";
            text-align: center;
            margin-bottom: 32px;
          }

          .speaker {
            font: 16px "Karla", sans-serif;
            margin: 8px 0;

            .name {
              color: $c__blue;
            }

            .position {
              margin: 2px 0;
              font-style: italic;
            }
          }
        }
      }

      @media (max-width: 970px) {
        display: block;
        margin-bottom: 5%;
        width: 90%;
      }
    }

    .timeline {
      width: 100%;
      margin: 12% 0;
      font: 16px "Montserrat", sans-serif;

      .times {
        padding: 0 2% 0 2%;

        .time {
          color: $c__blue;
          display: inline-block;
          width: 12.57%;
          margin-bottom: 12px;
          margin-right: 1%;

          &.day {
            &::before {
              content: "";
              display: block;
              color: $c__grey;
              font: 14px "Karla", sans-serif;
              margin-bottom: 8px;
            }
          }

          &.friday {
            &::before {
              content: "Friday";
            }
          }

          &.saturday {
            &::before {
              content: "Saturday";
            }
          }

          &.sunday {
            &::before {
              content: "Sunday";
            }
          }
        }
      }

      .divider--h {
        border: 0.8px solid $c__grey;

        @media (max-width: 620px) {
          display: none;
        }
      }

      .events {
        padding: 0 2% 0 2%;

        .event {
          margin-top: 12px;
          display: inline-block;
          font: 12px "Karla", sans-serif;
          width: 12.57%;
          margin-right: 1%;
          vertical-align: bottom;
        }
      }

      @media (max-width: 620px) {
        display: none;
      }
    }

    .btn__wrapper {
      vertical-align: bottom;
      width: 80%;
      margin: 48px auto;
      text-align: center;

      &.rgb {
        margin-top: 36px;
      }

      .btn {
        font: 16px "Montserrat", sans-serif;
        text-transform: uppercase;
        background: $c__blue;
        outline: none;
        border: none;
        border-radius: 32px;
        padding: 14px 32px 14px 32px;
        color: $c__white;
        box-shadow: 0px 0px 34px -8px rgba(90,90,90,1);
      }

      @media (max-width: 970px) {
        width: 100%;
        left: 0;
        margin-top: 18px;
      }
    }
  }
}

@media (max-width: 620px) {
  .timeline--mobile {
    font: 16px "Montserrat", sans-serif;

    .event {
      margin-bottom: 16px;

      .time {
        vertical-align: top;
        color: $c__blue;
        display: inline-block;
        width: 20%;

        &.day {
          &::before {
            content: "";
            margin-bottom: 8px;
            display: block;
            color: $c__grey;
            font: 14px "Karla", sans-serif;
          }
        }

        &.friday {
          &::before {
            content: "Friday";
          }
        }

        &.saturday {
          &::before {
            content: "Saturday";
          }
        }

        &.sunday {
          &::before {
            content: "Sunday";
          }
        }

        @media (max-width: 440px) {
          width: 15%;
        }
      }

      .name {
        font: 14px "Karla", sans-serif;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
}
